    <dl class="company_center_aside">
                <dt>我收到的简历</dt>
                <dd>
                    <a href="waitResumes.html">待处理简历</a>
                </dd>
                <dd>
                    <a href="canInterviewResumes.html">待定简历</a>
                </dd>
                <dd>
                    <a href="noticeResumes.html">已通知面试简历</a>
                </dd>
                <dd>
                    <a href="haveRefuseResumes.html">不合适简历</a>
                </dd>
                <dd class="btm">
                    <a href="autoFilterResumes.html">自动过滤简历</a>
                </dd>
            </dl>
            <dl class="company_center_aside">
                <dt>我发布的职位</dt>
                <dd>
                    <a href="positions.html">有效职位</a>
                </dd>
                <dd>
                    <a href="positions.html">已下线职位</a>
                </dd>
            </dl>